@col-dark: 330 10% 4%;
@col-white: 330 9% 96%;
@col-primary: 358 76% 36%;

@font-family: "Changa", sans-serif;
@font-citation: "Architects Daughter", cursive;
@font-size: 100%;
/*----------------------------------mixins*/
.center(@width: 60%) {
  width: @width;
  margin: 0 auto;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.bcimg(@size: cover,@pos: center) {
  background-size: @size;
  background-repeat: no-repeat;
  background-position: @pos;
}

.bc-dark {
  background-color: hsl(@col-dark);
}

.bc-white {
  background-color: hsl(@col-white);
}

.bc-primary {
  background-color: hsl(@col-primary);
}

.text-dark {
  color: hsl(@col-dark);
}

.text-white {
  color: hsl(@col-white);
}

.text-primary {
  color: hsl(@col-primary);
}

/*-------------------------------------reset*/
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: @font-size;
  font-family: @font-family;
  scroll-behavior: smooth;
}

img,
video,
canvas,
figure,
audio,
svg {
  max-width: 100%;
  height: auto;
  display: block;
}

a,
a:visited {
  &:extend(.text-dark);
  text-decoration: none;
}

ul,
ol {
  list-style: inside;
  list-style-type: none;
}
/*-------------------------------------layout*/
#burger {
  position: relative;
  display: none;
  z-index: 1;
  width: 2rem;
  cursor: pointer;

  .trait {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    width: 100%;
    height: 0.3rem;
    &:extend(.bc-white);
    border-radius: 2px;
    transition: all 0.3s ease-in-out;

    &::before,
    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 0.3rem;
      &:extend(.bc-white);
      border-radius: 2px;
      transition: all 0.5s ease-in-out;
    }
    &::before {
      transform: translateY(-0.6rem);
    }
    &::after {
      transform: translateY(0.6rem);
    }
  }
  &.active {
    .trait {
      transform: translateX(-50%);
      background-color: transparent;
      &::before {
        transform: translate(50%, 0rem) rotateZ(45deg);
        &:extend(.bc-white);
      }
      &::after {
        transform: translate(50%, 0rem) rotateZ(-45deg);
        &:extend(.bc-white);
      }
    }
  }
}
.container,
nav {
  &:extend(.text-dark);
}
h1,
p {
  font-size: @font-size;
  font-weight: 300;
  line-height: 2rem;
  margin-bottom: 2rem;
}

h2 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 300;
  text-transform: uppercase;
}

h3 {
  font-size: 1.5rem;
}

h2,
h3,
p,
ul li a,
ul li a:visited,
ul li,
.btn,
.btn:visited {
  &:extend(.text-white);
}

.btn {
  display: inline-block;
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 400;
  padding: 0.2rem 2rem;
  border: 2px solid hsl(@col-white);
  transition: transform 0.3s;
  &:hover {
    transform: scale(1.1);
  }
}

.logo {
  display: inline-block;
  width: 10rem;
  text-indent: -9999px;
  background-image: url("../imgs/logo.svg");
  .bcimg;
  margin-right: auto;
}

main {
  position: relative;
}

nav {
  position: fixed;
  width: 100%;
  padding: 2rem 0;
  z-index: 10;
  > div {
    .center(90%);
    .flex;
    ul {
      .flex;
      align-items: center;
      li {
        a {
          display: block;
          padding: 0.4rem 1rem;
          position: relative;
          &::after {
            content: "";
            display: block;
            width: 90%;
            height: 2px;
            position: absolute;
            left: 50%;
            &:extend(.bc-white);
            transform: translateX(-50%) scaleX(0);
            transition: 0.3s;
          }
          &:hover {
            &::after {
              transform: translateX(-50%) scaleX(1);
            }
          }
        }
      }
    }
  }
  &.scrolled {
    .bc-dark;
  }
}
header {
  padding: 10rem 0;
  background-image: url("../imgs/bcg_street.jpg");
  .bcimg;
  background-attachment: fixed;
  > div {
    .center;
    background: inherit;
  }
  article {
    .flex;
    justify-content: space-between;
    box-shadow: 0 0 0.62rem 0 rgba(11, 9, 10, 0.4);
    border-radius: 0.3rem;
    position: relative;
    z-index: 1;
    background: inherit;
    overflow: hidden;
    &:before {
      content: "";
      position: absolute;
      background: inherit;
      z-index: -1;
      inset: 0;
      filter: blur(0.5rem);
    }
    figure {
      .bcimg(cover, top);
      margin: 3rem 0;
    }
    > div {
      padding: 1rem 2rem 1rem 1rem;
      max-width: calc(50% - 1rem);
      .btn {
        position: absolute;
        right: 2rem;
      }
    }
  }
}
section {
  padding: 6rem 0;
  > div {
    .center;
  }
  &:first-of-type {
    &:extend(.bc-white);
    > div {
      padding: 2rem 0;
      article {
        .flex;
        justify-content: space-between;
        > div {
          max-width: calc(50% - 2rem);
        }
        figure {
          max-width: calc(50% - 2rem);
        }
      }
      p,
      h2,
      h3 {
        &:extend(.text-dark);
      }
    }
  }
  &:nth-of-type(2) {
    &:extend(.bc-dark);
    > div {
      text-align: center;
      article {
        text-align: left;
        &:extend(.bc-primary);
        margin-bottom: 2rem;
        border-radius: 1rem;
        img {
          border-top-right-radius: 1rem;
          border-bottom-right-radius: 1rem;
        }
      }
      article {
        .flex;
        img {
          width: 50%;
        }
        &:nth-of-type(even) {
          > div {
            order: 2;
          }
          img {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border-top-left-radius: 1rem;
            border-bottom-left-radius: 1rem;
          }
        }
        > div {
          padding: 2rem;
          width: 50%;
        }
      }
      > .btn {
        &:extend(.text-primary);
        font-size: 2rem;
        border-color: hsl(@col-primary);
      }
    }
  }
  &:last-of-type {
    background-image: url("../imgs/ben.jpg");
    background-attachment: fixed;
    .bcimg;
    > div {
      text-align: center;
      padding: 1rem;
      border-radius: 0.5rem;
      position: relative;
      z-index: 1;
      background: inherit;
      overflow: hidden;
      ul {
        &:extend(.flex);
      }
      &:before {
        content: "";
        position: absolute;
        background: inherit;
        z-index: -1;
        inset: 0;
        filter: blur(0.5rem);
      }
    }
  }
}

.slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  figure {
    max-width: 60%;
    margin: .5rem;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      animation: reveal 1s;
    }
  }
  ul {
    justify-content: center;
    gap: 10px;
    padding: .5rem 0;
    li {
      max-width: 3rem;
    }
  }
}

@keyframes reveal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

footer {
  padding: 1rem;
  &:extend(.bc-primary);
  .sociaux {
    .flex;
    font-size: 1.5rem;
    li a {
      padding: 0 1rem;
    }
  }
}

.ancre {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  display: none;
  z-index: 4;
  border: 1px solid hsl(@col-white);
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 2rem;
    &:extend(.text-white);
  }
}

@media screen and (max-width: 1000px) {
  html {
    font-size: 80%;
  }
  header {
    div {
      .center(95%);
      article {
        figure {
          max-height: 15rem;
        }
        > div {
          min-width: 100%;
        }
        .btn {
          position: static;
        }
      }
    }
  }
  nav {
    > div {
      justify-content: space-between;
      .center(100%);
      text-align: center;
      ul {
        width: 100%;
        justify-content: space-between;
      }
      .logo {
        margin-right: 0;
        margin-bottom: 1rem;
      }
    }
  }

  section {
    &:last-of-type {
      .bcimg(cover, 20% 0);
      > div {
        .center(95%);
        > div {
          padding: 1rem;
          img {
            margin-bottom: 2rem;
          }
        }
      }
    }
    &:first-of-type {
      div {
        min-width: 100%;
        padding: 1rem;
      }
      figure {
        order: -1;
      }
    }
    &:nth-of-type(2) {
      > div {
        .center(95%);
        article {
          img {
            order: -3;
            border-top-right-radius: 1rem;
            border-top-left-radius: 1rem;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
          }
          div {
            min-width: 100%;
          }
          &:nth-of-type(even) {
            img {
              border-top-right-radius: 1rem;
              border-bottom-left-radius: 0;
            }
          }
        }
      }
    }
  }

  figure,
  img {
    min-width: 100%;
  }
}

@media screen and (max-width: 600px) {
  #burger {
    display: block;
  }

  nav {
  > div {
    ul {
      li {
        a {
          font-size: 2rem;
          &::after {
            width: 20%;
          }
        }
      }
    }
  }
  &.scrolled {
    .bc-dark;
  }
}

  nav {
    &:extend(.bc-dark);
    padding: 1rem 0;
    > div {
      .center(95%);
      ul {
        .bc-primary;
        position: fixed;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: translateX(100%);
        width: 100%;
        min-height: 50vh;
        transition: 0.5s;
        li {
          width: 100%;
          text-align: center;
          a {
            &:visited {
              &:extend(.text-dark);
            }
          }
        }
        &.open {
          transform: translateX(0);
        }
      }
    }
  }
  header {
    article {
      > div {
        .bc-primary;
      }
    }
  }

  section {
    &:last-of-type {
      .bcimg(cover, 20% 0);
    }
  }

  .ancre {
    display: block;
    .bc-primary;
  }
}
