/*----------------------------------mixins*/
.center,
section > div {
  margin: 0 auto;
}
/*----------------------------------extension*/
.imgSize,
img,
svg {
  width: 100%;
  height: auto;
}
.bcimg,
.logo,
section:last-of-type {
  background-size: cover;
  background-repeat: no-repeat;
}
.bc-center,
.logo,
section:last-of-type {
  background-position: center;
}
.bc-custom {
  background-position: 20% 0;
}
.flex,
nav,
nav ul,
header,
header article,
section:first-of-type > div article,
section:nth-of-type(2) > div article,
section:last-of-type > div .galerie,
footer,
footer .sociaux,
.ancre {
  display: flex;
  flex-wrap: wrap;
}
.mb,
h1,
p,
h2,
section:nth-of-type(2) > div article {
  margin-bottom: 2rem;
}
/*-------------------------------------reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 100%;
  font-family: "Changa", sans-serif;
  scroll-behavior: smooth;
}
a,
a:visited {
  color: #0b090a;
  text-decoration: none;
}
ul,
ol {
  list-style: inside;
  list-style-type: none;
}
/*-------------------------------------layout*/
body {
  background-image: url("../imgs/bcg_street.jpg");
  background-attachment: fixed;
}
.cls-1 {
  fill: #a4161a;
}
.cls-2 {
  fill: #f5f3f4;
}
h1,
p {
  font-size: 100%;
  font-weight: 300;
  line-height: 2rem;
}
h2 {
  text-align: center;
  font-size: 2rem;
  font-weight: 300;
  text-transform: uppercase;
}
h3 {
  font-size: 1.5rem;
}
h2,
h3,
p,
ul li a,
ul li a:visited,
ul li,
.btn,
.btn:visited {
  color: #f5f3f4;
}
.btn {
  display: inline-block;
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 400;
  padding: 0.2rem 2rem;
  border: 2px solid #f5f3f4;
  transition: transform 0.3s;
}
.btn:hover {
  transform: scale(1.1);
}
.logo {
  display: inline-block;
  width: 10rem;
}
.logo svg {
  width: 100%;
}
#burger {
  position: relative;
  display: none;
  right: 2rem;
  z-index: 1;
  width: 2rem;
  cursor: pointer;
}
#burger .trait {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  width: 100%;
  height: 0.3rem;
  background-color: #f5f3f4;
  border-radius: 2px;
  transition: all 0.3s ease-in-out;
}
#burger .trait::before,
#burger .trait::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 0.3rem;
  background-color: #f5f3f4;
  border-radius: 2px;
  transition: all 0.5s ease-in-out;
}
#burger .trait::before {
  transform: translateY(-0.6rem);
}
#burger .trait::after {
  transform: translateY(0.6rem);
}
#burger.active .trait {
  transform: translateX(-50%);
  background-color: transparent;
}
#burger.active .trait::before {
  transform: translate(50%, 0rem) rotateZ(45deg);
}
#burger.active .trait::after {
  transform: translate(50%, 0rem) rotateZ(-45deg);
}
nav {
  justify-content: space-between;
  align-items: center;
  z-index: 5;
  position: fixed;
  padding: 1rem;
  background-color: #0b090a;
  width: 100%;
}
nav ul li a {
  padding: 0.5rem 2rem;
  display: inline-block;
}
header {
  justify-content: center;
  padding: 10rem 0;
  background: linear-gradient(5deg, rgba(11, 9, 10, 0.5) 0%, #0b090a 84%);
}
header > div {
  width: 60%;
}
header article {
  justify-content: space-between;
  box-shadow: 0 0 0.62rem 0 rgba(11, 9, 10, 0.4);
  border-radius: 0.3rem;
  position: relative;
}
header article img {
  display: block;
}
header article > div {
  padding: 1rem 2rem 1rem 1rem;
  width: calc(50% - 1rem);
}
header article > div .btn {
  position: absolute;
  right: 2rem;
}
section {
  padding: 6rem 0;
}
section > div {
  width: 60%;
}
section:first-of-type {
  background-color: #f5f3f4;
}
section:first-of-type > div {
  padding: 2rem 0;
}
section:first-of-type > div article {
  justify-content: space-between;
}
section:first-of-type > div article > div {
  max-width: calc(50% - 2rem);
}
section:first-of-type > div article figure {
  max-width: calc(50% - 2rem);
}
section:first-of-type > div article figure img {
  display: block;
}
section:first-of-type > div p,
section:first-of-type > div h2,
section:first-of-type > div h3 {
  color: #0b090a;
}
section:nth-of-type(2) > div {
  text-align: center;
}
section:nth-of-type(2) > div article {
  text-align: left;
  background-color: #a4161a;
  border-radius: 1rem;
}
section:nth-of-type(2) > div article img {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
section:nth-of-type(2) > div article img {
  width: 50%;
}
section:nth-of-type(2) > div article:nth-of-type(even) > div {
  order: 2;
}
section:nth-of-type(2) > div article:nth-of-type(even) img {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
section:nth-of-type(2) > div article > div {
  padding: 2rem;
  width: 50%;
}
section:nth-of-type(2) > div > .btn {
  color: #a4161a;
  font-size: 2rem;
  border-color: #a4161a;
}
section:last-of-type {
  background-image: url("../imgs/ben.jpg");
  background-attachment: fixed;
}
section:last-of-type > div {
  text-align: center;
  padding: 1rem;
  border-radius: 0.5rem;
  position: relative;
  background: inherit;
  overflow: hidden;
}
section:last-of-type > div:before {
  content: "";
  position: absolute;
  background: inherit;
  inset: 0;
  filter: blur(0.5rem);
}
section:last-of-type > div .galerie {
  justify-content: space-between;
}
footer {
  padding: 1rem 0;
  justify-content: space-around;
  background-color: #a4161a;
}
footer .sociaux li a {
  padding: 0.5rem;
  font-size: 1.5rem;
}
.ancre {
  position: fixed;
  border: 1px solid #f5f3f4;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}
.ancre i {
  font-size: 2rem;
  color: #f5f3f4;
}
@media screen and (max-width: 1000px) {
  html {
    font-size: 80%;
  }
  header div {
    width: 95%;
  }
  nav > div {
    justify-content: center;
    width: 100%;
    text-align: center;
  }
  nav > div ul {
    width: 100%;
    justify-content: space-between;
  }
  nav > div .logo {
    margin-right: 0;
  }
  section:last-of-type > div {
    width: 95%;
  }
  section:last-of-type > div figure {
    display: none;
  }
  section:last-of-type > div > div {
    padding: 1rem;
  }
  section:first-of-type div {
    min-width: 100%;
    padding: 1rem;
  }
  section:first-of-type figure {
    order: -1;
  }
  section:nth-of-type(2) > div {
    width: 95%;
  }
  section:nth-of-type(2) > div article img {
    order: -3;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  section:nth-of-type(2) > div article div {
    min-width: 100%;
  }
  section:nth-of-type(2) > div article:nth-of-type(even) img {
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 0;
  }
  figure,
  img {
    min-width: 100%;
  }
}
@media screen and (max-width: 600px) {
  #burger {
    display: block;
  }
  #navbar {
    position: fixed;
    top: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    transform: translateY(-100%);
    width: 100%;
    transition: 0.3s;
    background-color: #a4161a;
  }
  #navbar li {
    width: 100%;
  }
  #navbar li a {
    width: 100%;
  }
  #navbar.open {
    transform: translateY(0);
  }
  header > div article > div {
    min-width: 100%;
  }
}
