/*----------------------------------mixins*/
.flex {
  display: flex;
  flex-wrap: wrap;
}
/*-------------------------------------reset*/
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
figure {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}
html {
  font-size: 100%;
  font-family: "Roboto", sans-serif;
  text-align: center;
  scroll-behavior: smooth;
}
img,
video,
canvas,
figure,
audio,
svg {
  max-width: 100%;
  height: auto;
}
a,
a:visited {
  color: #000;
  text-decoration: none;
}
ul,
ol {
  list-style: inside;
  list-style-type: none;
}
/*-------------------------------------layout*/
h1,
p {
  color: #6887a2;
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: 2rem;
}
h2 {
  font-size: 3rem;
  font-weight: 200;
  letter-spacing: 0.5rem;
}
h3 {
  font-family: "Playfair Display", serif;
  font-weight: 200;
  font-size: 2rem;
  margin-bottom: 2rem;
}
h4 {
  font-size: 1.5rem;
  color: #ffffff;
  margin-bottom: 1rem;
}
header > div > nav,
nav > ul,
.apropos > div,
.chambres > div div,
.services div,
.avis > div > div {
  display: flex;
  flex-wrap: wrap;
}
.logo {
  width: 8.125rem;
  height: 2.5rem;
  display: block;
  margin-right: auto;
  text-indent: -9999px;
  background-image: url("../imgs/logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
header > div {
  width: 60%;
  margin: 0 auto;
}
header > div nav {
  padding: 2rem 0;
  align-items: center;
  line-height: 2.5rem;
}
header > div nav ul li a,
header > div nav ul li a:visited {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 0.9rem;
  padding: 0 0.8rem;
  border-bottom: 1px solid transparent;
  transition: 0.2s;
}
header > div nav ul li a:hover,
header > div nav ul li a:visited:hover {
  border-bottom: 1px solid #ffffff;
}
header > div img {
  padding: 3rem;
}
header h1 {
  color: #ffffff;
}
header {
  background-image: url("../imgs/bcgHeader.jpg");
  color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
header > div > div {
  padding: 8rem;
}
section {
  padding: 3rem 0;
}
section > div {
  width: 60%;
  margin: 0 auto;
}
.apropos article,
.avis article {
  text-align: left;
}
.apropos article a,
.avis article a {
  transition: 0.2s;
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
  padding: 0.5rem 1rem;
  border: 1px solid #000;
  line-height: 2rem;
}
.apropos article a span,
.avis article a span,
.apropos article a img,
.avis article a img {
  display: block;
}
.apropos article a img,
.avis article a img {
  width: 2rem;
  margin-left: 1.5rem;
}
.apropos article a:hover,
.avis article a:hover {
  transform: translateX(1rem);
}
.apropos article,
.avis article {
  width: calc(50% - 2rem);
}
.apropos img {
  border-bottom-left-radius: 1rem;
}
.apropos {
  padding: 6rem 0;
}
.apropos div {
  justify-content: space-between;
}
.chambres {
  background-color: #e5f5e5;
}
.chambres > div {
  justify-content: center;
}
.chambres > div > div {
  width: 100%;
  justify-content: space-between;
}
.chambres > div figure h3 {
  margin-bottom: 0.5rem;
}
.services > div div {
  justify-content: space-between;
}
.services > div div article {
  text-align: left;
  padding: 2.5rem 1.5rem;
  width: calc(33.3% - 2rem);
  border: 2px solid #28abb9;
  border-bottom-left-radius: 1rem;
}
.services > div div article img {
  max-height: 2rem;
  display: block;
  margin-bottom: 1rem;
}
.services > div div article h3 {
  margin-bottom: 1rem;
}
.services > div div article p {
  color: #000;
  font-weight: 200;
}
.push {
  background-image: url("../imgs/bcgBottom.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.push p {
  font-size: 3rem;
  font-weight: 300;
}
.push a {
  display: inline-block;
  padding: 1rem 2rem;
  text-transform: uppercase;
  background-color: #28abb9;
  border-radius: 0.5rem;
  box-shadow: -4px 5px 5px rgba(0, 0, 0, 0.5);
  transition: 0.2s;
}
.push a:hover {
  transform: scale(1.1);
}
.push p,
.push a {
  color: #ffffff;
}
.avatar {
  width: 6rem;
  height: 6rem;
  margin-top: calc(6rem / -2);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../imgs/Edward.jpg");
  border: 3px solid #a8dda8;
  border-radius: 100%;
  box-shadow: -4px 5px 5px rgba(0, 0, 0, 0.5);
  margin-bottom: 1rem;
}
.avis div {
  justify-content: space-between;
}
.avis div article {
  margin-top: 4rem;
  background-color: #a8dda8;
  position: relative;
  width: calc(50% - 2rem);
  padding: 0 1.5rem 1.5rem;
}
.avis div article img {
  display: block;
  margin-bottom: 1rem;
}
.avis div article img:last-of-type {
  margin: 0;
  transform: scale(-1);
  position: absolute;
  right: 1.5rem;
  bottom: 1.5rem;
}
.avis div article p:last-of-type {
  margin: 0;
}
.avis div article:last-of-type .avatar {
  background-image: url("../imgs/Mike.jpg");
}
@media screen and (max-width: 600px) {
  header > div,
  section > div {
    width: 95%;
    margin: 0 auto;
  }
  header > div nav {
    justify-content: center;
  }
  header > div nav ul li a {
    font-size: 80%;
  }
  header > div > div {
    padding: 2rem;
  }
  .logo {
    margin-right: 0;
  }
  article {
    min-width: 100%;
  }
  .apropos > div > img {
    min-width: 100%;
    margin-bottom: 1rem;
  }
  .services > div {
    justify-content: center;
  }
  .services > div article {
    margin-bottom: 1rem;
  }
  .chambres > div > div {
    justify-content: center;
  }
}
