@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700&display=swap");

@font-face {
  font-family: "berylium-bd";
  src: url("../fonts/berylium/berylium-bd.otf") format("opentype"),
    url("../fonts/berylium/berylium-bd.ttf") format("truetype");
}

@font-face {
  font-family: "atc";
  src: url("../fonts/atc/ATC-Krueger-Bold.ttf") format("truetype"),
    url("../fonts/atc/ATC-Krueger-Bold.woff") format("webfont");
}

:root {
  --darker-color: 16, 21, 36;
  --lighter-color: 255, 255, 255;
  --primary-color: 164, 2, 57;
  --secondary-color: 223, 255, 254;
  --text-color: 249, 207, 135;
  --font-family: "Raleway", sans-serif;
  --font-famyly-title: "berylium-bd", serif;
  --font-size: 16px;
  --rgb-dark: 16, 21, 36;
  --gap: 1rem;
}
/*-------------------------------------reset*/
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: var(--font-size);
  font-family: var(--font-family);
  scroll-behavior: smooth;
}

img,
picture,
canvas,
video,
svg {
  display: block;
  max-width: 100%;
  max-height: 100vh;
}

a,
a:visited {
  text-decoration: none;
}

ul,
ol {
  list-style: inside;
  list-style-type: none;
}

button,
input {
  background-color: transparent;
  outline: none;
  border: none;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*----------------------------------mixins*/
.center {
  width: 40%;
  margin: 0 auto;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.half > * {
  width: calc(50% - var(--gap));
}

.gap {
  gap: var(--gap);
}

.section-pad {
  padding: var(--gap) 0;
}

/*-------------------------------------layout*/

body {
  background-color: rgb(var(--darker-color));
}

h2,
.main-nav a {
  font-size: 1.8rem;
  font-family: var(--font-famyly-title);
}

h2,
strong {
  color: rgb(var(--primary-color));
}

h2 {
  margin-bottom: var(--gap);
  text-align: center;
  font-size: 4rem;
}

p {
  margin-bottom: var(--gap);
  color: rgb(var(--text-color));
}

.blog p {
  margin-bottom: 0.5rem;
}

.shadow {
  box-shadow: 0px 0px 16px rgb(0 0 0 / 75%);
}

/*-------------------------------------navigation*/

header {
  justify-content: space-between;
  position: sticky;
  padding: 10px 20px;
  z-index: 1; /*merci yt*/
  top: 0;
  width: 100%;
  background-color: rgba(var(--darker-color), 0.9);
  box-shadow: 0px 0px 16px rgb(0 0 0 / 90%);
}

.main-nav ul {
  align-items: center;
}

.main-nav a,
.main-nav a:visited {
  display: block;
  padding: 0 8px;
  color: rgb(var(--secondary-color));
}

.main-nav li a:hover,
footer li a:hover {
  color: rgb(var(--lighter-color));
}

.main-nav a svg {
  fill: rgb(var(--secondary-color));
}

.main-nav a:hover svg:hover {
  fill: rgb(var(--lighter-color));
}

.logo {
  display: block;
  width: 8rem;
}

/*icone burger*/

#burger {
  display: none;
  position: relative;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.spline {
  position: absolute;
  top: 50%;
  transform: translateY(50%);
  width: 100%;
  height: 4px;
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
  background-color: rgb(var(--text-color));
}

.spline::before,
.spline::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  background-color: rgb(var(--text-color));
}

.spline::before {
  transform: translateY(-8px);
  -webkit-transform: translateY(-8px);
  -moz-transform: translateY(-8px);
  -ms-transform: translateY(-8px);
  -o-transform: translateY(-8px);
}

.spline::after {
  transform: translateY(8px);
  -webkit-transform: translateY(8px);
  -moz-transform: translateY(8px);
  -ms-transform: translateY(8px);
  -o-transform: translateY(8px);
}

/*-------------------------------------content*/

.buy {
  padding: 2.5rem 0;
  width: 100%;
  background-image: url("../imgs/headerBanner.jpg");
  background-size: cover;
  padding: 3.5rem 0;
}

.buy > form {
  text-align: center;
}

.cta {
  display: inline-block;
  padding: 0.8rem 4rem 0.4rem;
  font-family: "atc";
  font-size: 3.75rem;
  font-weight: bold;
  color: rgb(var(--lighter-color));
  background: linear-gradient(to bottom, #d1394e 50%, #cd2f46 50%);
  border-bottom: 8px solid #832154;
}

.btn {
}

/*cas des iframe de yt grrr*/
.vid-yt {
  width: 65%;
  position: relative;
  margin-bottom: var(--gap);
}

.vid-yt::after {
  content: "";
  display: block;
  width: 100%;
  padding-bottom: calc(315 / 560 * 100%);
}

.vid-yt iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/*-------------------------------------footer*/

footer {
  padding: var(--gap) 0;
  font-weight: 200;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.5) 12px
  );
}

footer > div div {
  padding: var(--gap) 2.2rem;
}

footer p,
footer ul li a {
  font-size: 0.9rem;
  color: rgba(var(--lighter-color), 0.6);
}

footer div p,
footer div img {
  margin-bottom: 0.4rem;
}

footer strong {
  font-weight: 400;
  color: rgb(var(--lighter-color));
}

/*-------------------------------------responsive*/

@media screen and (max-width: 600px) {
  .center {
    width: 95%;
  }
}
