@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700&display=swap");

@font-face {
  font-family: "berylium-bd";
  src: url("../fonts/berylium/berylium-bd.otf") format("opentype"),
    url("../fonts/berylium/berylium-bd.ttf") format("truetype");
}

@font-face {
  font-family: "atc";
  src: url("../fonts/atc/ATC-Krueger-Bold.ttf") format("truetype"),
    url("../fonts/atc/ATC-Krueger-Bold.woff") format("webfont");
}

:root {
  --darker-color: 16, 21, 36;
  --lighter-color: 255, 255, 255;
  --primary-color: 164, 2, 57;
  --secondary-color: 223, 255, 254;
  --tertiary-color: 131, 33, 84;
  --text-color: 249, 207, 135;
  --font-family: "Raleway", sans-serif;
  --font-famyly-title: "berylium-bd", serif;
  --font-size: 16px;
  --rgb-dark: 16, 21, 36;
  --gap: 1rem;
}
/*-------------------------------------reset*/
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: var(--font-size);
  font-family: var(--font-family);
  scroll-behavior: smooth;
}

img,
picture,
canvas,
video,
svg {
  display: block;
  max-width: 100%;
  max-height: 100vh;
}

a,
a:visited {
  text-decoration: none;
}

ul,
ol {
  list-style: inside;
  list-style-type: none;
}

button {
  cursor: pointer;
}

button,
input {
  background-color: transparent;
  outline: none;
  border: none;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*----------------------------------mixins*/
.center {
  width: 40%;
  margin: 0 auto;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.half > * {
  width: calc(50% - var(--gap));
}

.gap {
  gap: var(--gap);
}

.section-pad {
  padding: var(--gap) 0;
}

/*-------------------------------------layout*/

body {
  background-color: rgb(var(--darker-color));
}

h2,
.main-nav a {
  font-size: 1.8rem;
  font-family: var(--font-famyly-title);
}

h2,
strong {
  color: rgb(var(--primary-color));
}

h2 {
  /* position: relative; */
  display: inline-block;
  margin-bottom: var(--gap);
  text-align: center;
  font-size: 4rem;
  width: 100%;
}

h2::before,
h2::after {
  position: relative;
  vertical-align: middle;
  content: "";
  display: inline-block;
  height: 3px;
  width: 10%;
}

h2::before {
  right: 0.25rem;
  margin-left: -50%;
  background: linear-gradient(
    to right,
    rgba(164, 2, 57, 0),
    rgba(164, 2, 57, 0.5)
  );
}

h2::after {
  left: 0.25rem;
  margin-right: -50%;
  background: linear-gradient(
    to left,
    rgba(164, 2, 57, 0),
    rgba(164, 2, 57, 0.5)
  );
}

p,
label {
  margin-bottom: var(--gap);
  color: rgb(var(--text-color));
}

.blog p {
  margin-bottom: 0.5rem;
}

.shadow {
  box-shadow: 0px 0px 16px rgb(0 0 0 / 75%);
}

/*-------------------------------------navigation*/
.container {
  overflow: hidden;
}

header {
  justify-content: space-between;
  position: fixed;
  padding: 10px 20px;
  top: 0;
  z-index: 1; /*merci yt*/
  width: 100%;
  background-color: rgba(var(--darker-color), 0.9);
}

#navbar ul {
  align-items: center;
}

#navbar a,
#navbar a:visited {
  display: block;
  padding: 0 8px;
  color: rgb(var(--secondary-color));
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
}

#navbar li a:hover,
footer li a:hover {
  color: rgb(var(--lighter-color));
}

#navbar a svg {
  fill: rgb(var(--secondary-color));
}

#navbar a:hover svg:hover {
  fill: rgb(var(--lighter-color));
}

.logo a {
  display: block;
  width: 8rem;
}

/*icone burger*/

#burger {
  display: none;
  position: relative;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.spline {
  position: absolute;
  top: 50%;
  transform: translateY(50%);
  width: 100%;
  height: 4px;
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
  background-color: rgb(var(--text-color));
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.spline::before,
.spline::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  background-color: rgb(var(--text-color));
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.spline::before {
  transform: translateY(-8px);
  -webkit-transform: translateY(-8px);
  -moz-transform: translateY(-8px);
  -ms-transform: translateY(-8px);
  -o-transform: translateY(-8px);
}

.spline::after {
  transform: translateY(8px);
  -webkit-transform: translateY(8px);
  -moz-transform: translateY(8px);
  -ms-transform: translateY(8px);
  -o-transform: translateY(8px);
}

#burger.active .spline {
  transform: translateX(-50%);
  background-color: transparent;
}

#burger.active .spline:before {
  transform: translate(50%, 0rem) rotateZ(45deg);
  -webkit-transform: translate(50%, 0rem) rotateZ(45deg);
  -moz-transform: translate(50%, 0rem) rotateZ(45deg);
  -ms-transform: translate(50%, 0rem) rotateZ(45deg);
  -o-transform: translate(50%, 0rem) rotateZ(45deg);
}
#burger.active .spline:after {
  transform: translate(50%, 0rem) rotateZ(-45deg);
  -webkit-transform: translate(50%, 0rem) rotateZ(-45deg);
  -moz-transform: translate(50%, 0rem) rotateZ(-45deg);
  -ms-transform: translate(50%, 0rem) rotateZ(-45deg);
  -o-transform: translate(50%, 0rem) rotateZ(-45deg);
}

/*-------------------------------------content*/

main {
  padding-bottom: 3rem;
}

.buy {
  padding: 5rem 0 2rem;
  width: 100%;
  background-image: url("../imgs/headerBanner.jpg");
  background-size: cover;
}

form {
  text-align: center;
}

.btn {
  display: inline-block;
  padding: 0.8rem 4rem 0.4rem;
  width: 350px;
  font-family: "atc";
  font-size: 2.5rem;
  font-weight: bold;
  color: rgb(var(--text-color));
  background-color: rgba(var(--primary-color), 0.7);
}

.btn:not(.btn.cta) {
  padding: 0.8rem 4rem;
  margin-top: 2rem;
}

.cta {
  font-size: 3.75rem;
  color: rgb(var(--lighter-color));
  background: linear-gradient(to bottom, #d1394e 50%, #cd2f46 50%);
  border-bottom: 8px solid rgb(var(--tertiary-color));
}

/*cas des iframe de yt grrr*/
.vid-yt {
  position: relative;
  width: 65%;
  margin-bottom: 2rem;
}

.vid-yt::after {
  content: "";
  display: block;
  width: 100%;
  padding-bottom: calc(315 / 560 * 100%);
}

.vid-yt iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/*fin yt*/

.excerpt {
  padding-bottom: 2.5rem;
}

.excerpt > div {
  padding: var(--gap);
  background-color: rgba(var(--tertiary-color), 0.35);
  border-bottom: 1px solid rgb(var(--tertiary-color));
}

.excerpt a {
  font-size: 2rem;
  color: rgb(var(--primary-color));
}

form .center {
  width: 80%;
}

label {
  display: block;
  margin-bottom: 1rem;
  text-align: left;
}

input {
  display: block;
  width: 100%;
  padding: 0.8rem;
  border: 0.5px solid rgb(var(--text-color));
}

/*-------------------------------------footer*/

footer {
  padding: var(--gap) 0;
  font-weight: 200;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.5) 12px
  );
}

footer > div {
  justify-content: space-between;
}

footer p,
footer ul li a {
  font-size: 0.9rem;
  color: rgba(var(--lighter-color), 0.6);
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
}

footer ul li {
  display: flex;
  align-items: center;
  gap: calc(var(--gap) * 0.2);
}

footer ul li img {
  height: 1.6rem;
}

footer div p,
footer div > img {
  margin-bottom: 0.4rem;
}

footer strong {
  font-weight: 400;
  color: rgb(var(--lighter-color));
}

/*-------------------------------------responsive*/

@media screen and (max-width: 800px) {
  .center {
    width: 95%;
  }

  h2 {
    font-size: 2.5rem;
  }

  .logo {
    order: 1;
  }

  #navbar {
    position: fixed;
    flex-direction: column;
    padding: 1.5rem;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(var(--darker-color));
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    box-shadow: 0px 0px 16px rgb(0 0 0 / 75%);
  }

  #navbar.open {
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
  }

  #navbar ul:first-of-type {
    flex-direction: column;
  }

  #navbar ul:last-of-type {
    justify-content: center;
    padding-top: var(--gap);
  }

  #burger {
    display: block;
  }

  .half > * {
    min-width: 100%;
  }

  .gap :not(.video-container) {
    gap: 0;
  }

  footer > div div {
    padding: var(--gap) 0;
  }
}
