@font-face {
  font-family: "Helvetica";
  src: url("../fonts/Helvetica.ttf") format("truetype");
}
@font-face {
  font-family: "Helvetica-light";
  src: url("../fonts/Helvetica-light.ttf") format("truetype");
}
@font-face {
    font-family: "Helvetica-Bold";
    src: url("../fonts/Helvetica-Bold.ttf") format("truetype");
}
:root {
    --darker-color: 43, 43, 43;
    --lighter-color: 255, 255, 255;
    --primary-color: 201, 25, 46;
    --font-family: "Helvetica", Arial, sans-serif;
    --font-text: "Helvetica-light", Arial, sans-serif;
    --font-title: "Helvetica-Bold", Arial, sans-serif;
    --font-size: 16px;
    --gap: 1rem;
}
/*-------------------------------------reset*/
*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* scroll-behavior: smooth; */
    font-size: var(--font-size);
    font-family: var(--font-family);
    color: rgb(var(--darker-color));
    line-height: 130%;
}

img,
picture,
canvas,
video,
svg {
    display: block;
    max-width: 100%;
    max-height: 100vh;
  }

a,
a:visited {
    text-decoration: none;
    color: rgb(var(--darker-color));
}

ul,
ol {
    list-style: inside;
    list-style-type: none;
}

button {
    cursor: pointer;
}

button,
input {
    background-color: transparent;
    outline: none;
    border: none;
}

@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
}
/*----------------------------------mixins*/

.center {
    margin: 0 auto;
    width: clamp(280px, 1200px,100% );
}
  
.flex {
    display: flex;
    flex-wrap: wrap;
}

.rel{
    position: relative;
}
.abs {
    position: absolute;
    top: 0;
    left: 0;
}

/* basics styles*/
body{
    background: rgb(var(--darker-color));
}
.container{
    width: 100%;
    min-height: 100vh;
}

.heading{
    font-size: 5.25rem;
}
.title, .subtitle {
    font-family: var(--font-title);
    line-height: 150%;
}
.title {
    font-size: 1.5rem;
}
.subtitle {
    font-size: 1.3rem;
}
.text {
    font-family: var(--font-text);
    font-size: 0.875rem;
    line-height: 140%;
}

/* layout */
header{
    position: absolute;
    padding: 1rem 2rem;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: 100%;
    background: rgb(var(--lighter-color));
}
.logo {
    width: 7rem;
}
.navbar {
    justify-content: space-between;
    align-items: center;
}
.navbar li>a {
    display: block;
    padding: .8rem 2rem;
}
.btn{
    display: block;
    padding: .5rem 2rem;
    width: clamp(5rem, 100%, 320px);
    text-align: center;
    background-color: rgb(var(--primary-color));
    color: rgb(var(--lighter-color));
    font-weight: bold;
    border: 2px solid rgba(var(--primary-color, 0));
    transition: .3s ease-in-out;
}
main{
    width: calc(3 * 100vw);
    transform: rotate(-90deg) translate(-10px);
    transform-origin: right top;
    overflow-y: auto;
    overflow-x: hidden;
}
section{
    width: 100vw;
    height: 100vh;
    transform: rotate(90deg);
    transform-origin: right top;
    background-color: blue;
}

.btn:hover{
    background-color: rgb(var(--lighter-color));
    color: rgb(var(--primary-color));
    border: 2px solid rgba(var(--primary-color, 1));
}

.red-bcg{
    position: fixed;
    width: 100%;
    min-height: 210%;
    clip-path: polygon(100% 0%, 0% 50%, 0% 80%, 30% 100%, 100% 100%);
    background: rgb(var(--primary-color));
    background: linear-gradient(110deg, rgba(var(--primary-color),1) 10%, rgba(var(--primary-color),1) 100%);
}

@media screen and (max-width: 379px) {
    :root {
        --font-size: 12px;
    }
}
